.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px 12px;
    margin-top: 35px;
    padding-top: 30px;
}

@media (max-width: 1370px) {
    .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 12px;
        margin-top: 35px;
        padding-top: 30px;
    }
}

@media (max-width: 1000px) {
    .products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 12px;
        margin-top: 35px;
        padding-top: 30px;
    }
}

@media (max-width: 760px) {
    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 12px;
        margin-top: 35px;
        padding-top: 30px;
    }
}

@media (max-width: 360px) {
    .products {
        display: flex;
        flex-direction: column;
        gap: 20px 12px;
        margin-top: 35px;
        padding-top: 30px;
    }
}