.product {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-bottom: 10px;
    border-radius: 10px;
    width: 100%;

    &:hover img {
        transform: scale(1.05);
    }

    .imageBox {
        overflow: hidden;
        border-radius: 10px;

        img {
            transition: 0.3s;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 10px 15px;
        gap: 6px;
        width: 100%;

        span {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            p {
                font-size: 15px;
            }
        }

        .bot {
            display: flex;
            align-items: end;
            justify-content: space-between;
            margin-top: 15px;
            width: 100%;

            .price {
                display: flex;
                flex-direction: column;
                align-items: start;

                del {
                    font-size: 12px;
                }
            }

            .basket {
                padding: 5px;
                padding-right: 0;

                &:hover .icon {
                    transform: scale(1.2);
                }

                .icon {
                    transition: 0.2s;
                }
            }
        }
    }
}

@media (max-width: 450px) {
    .product {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-bottom: 10px;
        border-radius: 10px;
        width: 100%;

        &:hover img {
            transform: scale(1.05);
        }

        .imageBox {
            overflow: hidden;
            border-radius: 10px;

            img {
                transition: 0.3s;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            align-items: start;
            padding: 10px 15px;
            gap: 6px;
            width: 100%;

            h1 {
                font-size: 15px;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;

                p {
                    font-size: 13px;
                }
            }

            .bot {
                display: flex;
                align-items: end;
                justify-content: space-between;
                margin-top: 15px;
                width: 100%;

                .price {
                    display: flex;
                    flex-direction: column;
                    align-items: start;

                    del {
                        font-size: 11px;
                    }

                    p {
                        font-size: 13px;
                    }
                }

                .basket {
                    padding: 5px;
                    padding-right: 0;

                    &:hover .icon {
                        transform: scale(1.2);
                    }

                    .icon {
                        transition: 0.2s;
                    }
                }
            }
        }
    }
}