.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding: 13px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s, opacity 0.3s ease-in-out;
    transition: 0.3s;

    &.scrolled {
        opacity: 0.94;
        padding: 5px 40px;
        box-shadow: 0 4px 7px 0 #00000053;
    }

    &.scrolled .logoImg {
        width: 45px;
    }

    .nav2 {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 50px;
            transition: 0.3s;
        }

        h1 {
            font-size: 25px;
        }
    }

    .ul1 {
        display: flex;
        align-items: center;
        gap: 20px;

        li {
            font-size: 20px;
            position: relative;
            padding: 10px 15px;
            cursor: pointer;
            transition: color 0.2s ease;
            // color: #aaaaaa;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                background-color: gray;
                /* Chiziqning rangi */
                transition: width 0.3s ease;
            }

            &:hover::after {
                width: 100%;
            }

            &.checked {
                color: #2196F3;
                /* Li element qizil bo'lishi */
            }

            &.checked::after {
                background-color: blue;
                /* Chiziqni qizil qilish */
            }
        }

        .logOut2 {
            display: none;
        }
    }

    .end {
        display: flex;
        align-items: center;
        gap: 20px;

        .dropdown:hover .gear {
            transform: rotate(40deg);
        }

        .gear {
            transition: 0.5s;
            font-size: 25px;
        }

        .logOut {
            display: block;
        }
    }

    .ul2 {
        display: none;
    }
}

#m,
.mLabel {
    display: none;
}

@media (max-width: 1100px) {
    .nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        padding: 13px 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        transition: background-color 0.3s, opacity 0.3s ease-in-out;
        transition: 0.3s;

        &.scrolled {
            opacity: 0.94;
            padding: 5px 20px;
            box-shadow: 0 4px 7px 0 #00000053;
        }

        &.scrolled .logoImg {
            width: 42px;
        }

        &.scrolled .logo h1 {
            font-size: 22px;
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 50px;
                transition: 0.3s;
            }

            h1 {
                font-size: 25px;
                transition: 0.3s;
            }
        }

        .ul1 {
            display: flex;
            align-items: center;
            gap: 20px;

            li {
                font-size: 20px;
                position: relative;
                padding: 10px 15px;
                cursor: pointer;
                transition: color 0.2s ease;
                // color: #aaaaaa;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: gray;
                    /* Chiziqning rangi */
                    transition: width 0.3s ease;
                }

                &:hover::after {
                    width: 100%;
                }

                &.checked {
                    color: #2196F3;
                    /* Li element qizil bo'lishi */
                }

                &.checked::after {
                    background-color: blue;
                    /* Chiziqni qizil qilish */
                }
            }
        }

        .end {
            display: flex;
            align-items: center;
            gap: 20px;

            .dropdown:hover .gear {
                transform: rotate(40deg);
            }

            .gear {
                transition: 0.5s;
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 800px) {
    .nav {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 0px;
        width: 100%;
        padding: 7px 0px;
        padding-bottom: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        transition: background-color 0.3s, opacity 0.3s ease-in-out;
        transition: 0.3s;
        height: 60px;
        overflow: hidden;

        &.scrolled {
            opacity: 0.94;
            padding: 7px 0;
            box-shadow: 0 4px 7px 0 #00000053;
        }

        &.scrolled .logoImg {
            width: 45px;
        }

        &.scrolled .logo h1 {
            font-size: 25px;
        }

        .nav2 {
            padding: 0 20px;
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 45px;
                transition: 0.3s;
            }

            h1 {
                font-size: 25px;
                transition: 0.3s;
            }
        }

        .end {
            display: flex;
            align-items: center;
            gap: 20px;

            .dropdown:hover .gear {
                transform: rotate(37deg);
            }

            .gear {
                transition: 0.5s;
                font-size: 25px;
            }

            .logOut {
                display: none;
            }
        }

        .ul1 {
            display: none;
        }

        .ul2 {
            display: block;
            width: 100%;
            padding: 15px 20px;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
            // box-shadow: 0 40px 7px 0 black;

            li {
                font-size: 20px;
                position: relative;
                cursor: pointer;
                transition: color 0.2s ease;

                // color: #aaaaaa;
                &.checked {
                    color: #2196F3;
                    /* Li element qizil bo'lishi */
                }
            }
        }

    }

    .mLabel {
        display: block;
    }

    #m:checked+.nav {
        height: 210px;
        box-shadow: 0 4px 7px 0 #00000053;
    }

    .menu-label {
        cursor: pointer;
        display: inline-block;
        width: 21px;
    }

    .menu-icon {
        font-size: 28px;
        margin-top: 4px;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .fa-bars {
        color: #000;
        /* Menyu rangi */
    }

    .fa-xmark {
        color: red;
        /* X belgisi rangi */
    }
}

@media (max-width: 470px) {
    .nav {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        gap: 0px;
        width: 100%;
        padding: 7px 0px;
        padding-bottom: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        transition: background-color 0.3s, opacity 0.3s ease-in-out;
        transition: 0.3s;
        height: 55px;
        overflow: hidden;

        &.scrolled {
            opacity: 0.94;
            padding: 7px 0;
            box-shadow: 0 4px 7px 0 #00000053;
        }

        &.scrolled .logoImg {
            width: 40px;
        }

        &.scrolled .logo h1 {
            font-size: 22px;
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 40px;
                transition: 0.3s;
            }

            h1 {
                font-size: 22px;
                transition: 0.3s;
            }
        }
    }
}